practica-integradora-1/node_modules
class-16-mongo-avanzado/node_modules

class-17-mongo-avanzado-p2/mongo_avanzado_p2/node_modules
class-17-mongo-avanzado-p2/mongo_avanzado_p2_hands_on_lab/node_modules

class-18-cookies-session-and-storage-p1/cookies-session-and-storage-p1/node_modules
class-18-cookies-session-and-storage-p1/cookies-session-and-storage-p2/node_modules